.App {
  margin: 5px; 
}
.App-logo{
  height: 76px;
  background-color: transparent ;
  display: inline-flex;
  text-align: start;
}

.App-header{
  background: #ffbd59; 
}

.App-Link{
    display: flex;
}
.App-user{
  height: 25px;
  margin: 7px;
}
.App-home{
  height: 25px;
  margin: 7px;
}

.Colombian{
  color:#293039;
}
.navbar-light .navbar-brand {
  color: #293039;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Diseño Inicio */
.btn-receta{
  color: #515459;
}

.inicio{
  background: url('./assets/img/portada.jpg');
  background-size: cover;
  height: 85vh;
  overflow: hidden;
  text-align: center;
  
}
.btn-receta{
  align-items: center;
  background-color: #ffbd59;
  border-radius: 4%;
  padding: 1.2rem;
  font-weight: 700

}
.titulo{
  margin-top: 270px;
  color: #fff;
}
.c-receta{
  align-items: center;
  margin-top: 70px;
}
.row{
  background-color: #66a437;
  text-align: center;
  padding: 15px 0px;
  margin-top: -50px;
  margin:auto;
}

.fa-concierge-bell:before {
    color: #293039;
    font-size: 3rem;
    text-decoration: solid;
    text-decoration: double;
}
.fa-newspaper:before {
    color: #293039;
    font-size: 3rem;
}
.fa-users-cog:before {
    color: #293039;
    font-size: 3rem;
}
.menu{
  margin-top: 9px;
  height: 60px; 
}
.equipo{
  margin-top: 9px;
  height: 60px;
}
.periodico{
  margin-top: 9px;
  height: 60px;
}
.logueo{
  background-color: #66a437;
  background-size: cover;
  height: 85vh;
  overflow: hidden;
  text-align: center;
}
.form-container{
  text-align: center;
  
}
.texto{
  color: #515459;
  font-size: large;
  font-weight:600
}

/* FOOTER */
.footer{
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 4px 0px;    
  background-color: #ffbd59;
}

@media (min-width: 768px) { 
  .footer{
      font-size: 1rem;
  }
}
