body{
  /* background-color: #4c7031; */
  background-color: #66a437;
}

.App {
  margin: 1px; 
}

.App-logo{
  height: 80px;
  background-color: transparent ;
  display: inline-flex;
  text-align: start;
}

.App-header{
  background: #ffbd59; 
}

.App-Link{
    display: flex;
}
.App-user{
  height: 25px;
  margin: 10px;
}
.App-home{
  height: 26px;
  margin: 10px;
}
.navbar-light .navbar-brand {
  color: #293039;
  font-size: 1.2rem;
  font-weight: bold;
}

/* Diseño Inicio */


.inicio{
  background: url('./assets/img/portada.jpg');
  background-size: cover;
  height: 85vh;
  overflow: hidden;
  text-align: center;
  
}
.btn-receta{
  align-items: center;
  background-color: #ffbd59;
  border-radius: 4%;
  padding: 1.2rem;
  font-weight: 700;
  color: #293039;
}
.titulo{
  margin-top: 270px;
  color: #fff;
}
.c-receta{
  align-items: center;
  margin-top: 70px;
}
.row{
  /*background-color: #66a437;*/
  text-align: center;
  padding: 15px 0px;
  margin-top: -50px;
  margin:auto;
}

.fa-concierge-bell:before {
    color: #293039;
    font-size: 3rem;
    text-decoration: solid;
    text-decoration: double;
}
.fa-newspaper:before {
    color: #293039;
    font-size: 3rem;
}
.fa-users-cog:before {
    color: #293039;
    font-size: 3rem;
}
.menu{
  margin-top: 9px;
  height: 60px; 
}
.equipo{
  margin-top: 9px;
  height: 60px;
}
.periodico{
  margin-top: 9px;
  height: 60px;
}
.logueo{
  background-color: #66a437;
  background-size: cover;
  height: 85vh;
  overflow: hidden;
  text-align: center;
}
.form-container{
  text-align: center;
  
}
.textoInicio{
  color: #515459;
  font-size: large;
  font-weight:600
}

/* DISEÑO FOOTER */
.footer{
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 4px 0px;    
  background-color: #ffbd59;
}

@media (min-width: 768px) { 
  .footer{
      font-size: 1rem;
  }
}

/* DISEÑO SERVICIOS */
.texto{
  font-size: 0.8rem;
  font-weight: bold;
}

.bienvenido{
  background: url("./assets/img/fondo-movil2.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

@media (min-width: 768px) { 
  .texto{
      font-size: 1.6rem;
  }
  .bienvenido{
      background: url("./assets/img/fondo2.jpg");
      background-size: cover;
      height: 100vh;
      overflow: hidden;
  }
}

/* DISEÑO PROGRAMADORES */
.nombre{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

/* DISEÑO REGISTRO RECETA */
.boton{
  margin-top: 10px;
  background-color: #ffbd59;
  text-align: center
}

.input-config{
margin-top: 20px;
text-align: center;
width: 250px;
}

.formulario{
width: 100%;
margin: 0 auto;
display: flex;
text-align: center;
flex-direction: column;
font-size: 1rem;
align-items: center;
justify-content: center;
color: #fff;
margin-top: 120px;
}


@media (min-width: 768px) { 
  .formulario{
    width: 500px;
    text-align: center;
    font-size: 1rem;
    color:#fff;
    margin-top: 60px;
  }

  .boton{
    margin-top: 10px;
    background-color: #ffbd59;
    text-align: center
  }
}